# Dependencias
node_modules/

# Variables de entorno — NUNCA subir esto a Git
.env

# Logs
logs/
*.log

# Prisma
prisma/migrations/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Build
dist/
build/

.vite/
*.msi
